# ============================================
# Database configuration
# ============================================

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=car_data
POSTGRES_USER=<your_postgres_user>
POSTGRES_PASSWORD=<your_postgres_password>


# ============================================
# pgAdmin configuration
# ============================================

PGADMIN_EMAIL=<your_pgadmin_email>
PGADMIN_PASSWORD=<your_pgadmin_password>